# Arquivos binários do sistema
.DS_Store
Thumbs.db

# Build do Maven
target/

# Logs
*.log

# Arquivos temporários do IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Configurações específicas do Eclipse
.settings/
*.classpath
*.project

# Configurações específicas do IntelliJ IDEA
out/
*.class

# Arquivos gerados pelo Spring Boot
spring-boot-devtools.properties

# Arquivos temporários do sistema operacional
*.swp
*~

# Arquivos de debug
hs_err_pid*

# Outros
.mvn/wrapper/maven-wrapper.jar

# Arquivos do sistema e cache
.cache/

